@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
}

a {
  color: white;
}

.card {
  border-radius: 12px;
  margin: 20px;
}

.principal-card {
  font-family: "Playfair Display";
  background-color: midnightblue;

  padding: 10px;
}

.about-card {
  background-color: black;
  padding: 20px 32px;
}

.services-card {
  background-color: darkred;
  padding: 10px;
}

.title {
  color: #d89d5d;
  font-variant: small-caps;
  font-weight: 600;
}

.urbancho {
  font-size: 64px;
}

.slogan {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.button {
  display: inline-block;
  padding: 10px 15px;

  font-family: "Merriweather";
  font-size: 16px;

  background-color: lightgray;
  border-radius: 40px;
}

.about {
  font-size: 20px;
}

.description {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.services {
  font-weight: bold;
  font-family: "Merriweather";
  font-size: 36px;
  color: white;

  background-color: lightgray;

  margin: 10px;
  padding: 10px;
  border-radius: 12px;
}
