@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Merriweather";

  padding: 20px 0;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 60px;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s ease;
}

a:hover {
  color: #c6a75e;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.rounded-40 {
  border-radius: 40px;
}

.mb-200 {
  margin-bottom: 200px;
}

.text-s {
  font-size: 16px;
}

.text-m {
  font-size: 20px;
}

.text-l {
  font-size: 24px;
}

.text-xl {
  font-size: 32px;
}

.text-xxl {
  font-size: 40px;
}

.txt-right {
  text-align: right;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-l-12 {
  border-radius: 12px 0 0 12px;
}

.object-50-70 {
  object-position: 50% 70%;
}

.object-50-40 {
  object-position: 50% 40%;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.button {
  background-color: #2a2a2a66;
  align-self: center;
  padding: 20px 40px;
  font-weight: bolder;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 200px;
}

.img-urbancho {
  width: 800px;
  height: auto;
  align-self: center;
}

.txt-contact {
  font-size: 20px;
  font-weight: bold;
}

.ttl-contact {
  font-size: 24px;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 30px;
  color: #ead7b7;
}

.cont-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 30px;
}

.sec-contact {
  display: flex;
  justify-content: space-between;
}

.txt-slogan {
  font-style: italic;
  font-size: 20px;
  font-weight: bolder;
}

.line,
.line-services {
  border-width: 1px;
  border-style: solid;
}

.line {
  color: #ffffff;
  flex: 1;
}

.line-services {
  color: #d9d9d9;
}

.cont-slogan {
  display: flex;
  gap: 30px;
  align-items: center;
}

.sec-hero {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.sec-services {
  display: flex;
  flex-direction: column;
  background-color: #ff00001a;
  padding: 40px 0;
  gap: 120px;
}

.ttl-super-services {
  font-size: 40px;
  align-self: center;
  color: #ead7b7;
}

.cont-services {
  display: flex;
}

.image-services {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.image-right {
  border-radius: 12px 0 0 12px;
  margin-left: auto;
}

.image-left {
  border-radius: 0 12px 12px 0;
  margin-right: auto;
}

.ttl-services {
  font-size: 32px;
  font-weight: bolder;
  color: #ead7b7;
}

.txt-services {
  color: #e9e2d7;
  font-size: 24px;
}

.cont-description-services {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
  width: 800px;
  align-self: center;
}

.cont-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.ttl-about {
  font-size: 40px;
  color: #c6a75e;
  font-weight: bolder;
  font-style: italic;
}

.txt-about {
  color: #e9e2d7;
  font-size: 24px;
  font-weight: bold;
  margin: 0 30px;
  margin-bottom: 60px;
  text-align: center;
}

.sec-stat {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 200px;
}

.cont-stat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.txt-stat {
  color: #e9e2d7;
  font-weight: bold;
  font-style: italic;
}

.sec-info {
  display: flex;
  flex-direction: column;
}

.sec-contact {
  display: flex;
  justify-content: space-between;
}
